blessed==1.9.5
cement==2.8.2
colorama==0.3.7
Django==1.9.2
django-bootstrap3==7.1.0
django-registration==2.1.2
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.12
jmespath==0.9.0
numpy==1.11.2
pathspec==0.3.4
python-dateutil==2.5.3
PyYAML==3.12
requests==2.9.1
scipy==0.18.1
scikit-learn==0.18
semantic-version==2.5.0
six==1.10.0
texttable==0.8.6
wcwidth==0.1.7
websocket-client==0.37.0
